<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Road Trip by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
		{{> header  }}

		<!-- Nav -->
		{{> navbar}}

		<!-- Main -->
			<div id="main" class="container">

				<!-- Content -->
					<h2>ABOUT AUSTRALIA</h2>
					<p>
						Australia is the largest island in the world, the sixth largest country in the world in terms of land area, and the only nation to rule an entire continent. There are more than 500 national parks and more than 2,700 conservation areas, ranging from wildlife sanctuaries to Aboriginal reserves.</p>
					<div class="row">
						<div class="6u 12u$(small)">
							<h3>POPULATION</h3>
							<p>25.739.256</p>
						</div>
						<div class="6u$ 12u$(small)">
							<h3><strong> Whitehaven Beach</strong>, Whitsunday, QLD</h3>
							<p>It is one of the most pristine and beautiful beaches in the world and is located in the heart of the Great Barrier Reef. It stretches for seven kilometers and its sand is 98 percent pure white silica, which gives it a bright, almost luminescent color. It was named the "number one beach in Australia" by TripAdvisor Travelers' Choice in 2013 and has been voted the most environmentally friendly beach in the world and the cleanest beach in Queensland.</p>
						</div>
						<!-- Break -->
						<div class="4u 12u$(medium)">
							<h3>Manly Beach, Sydney, NSW</h3>
							<p>
								In second position we find one of the most popular beaches in Sydney, ranked better than the iconic Bondi: it is Manly..</p>
						</div>
						<div class="4u 12u$(medium)">
							<h3>Surfer's Paradise Beach, Surfers Paradise, QLD</h3>
							<p>
								A strip of three kilometers of golden sand in the heart of the Costa de Oro, (Gold Coast) where you can find 52 km of golden beaches and 300 days of sunshine in a year.</p>
						</div>
						<div class="4u$ 12u$(medium)">
							<h3>Turquoise Bay Exmouth, Exmouth, WA</h3>
							<p>And now Western Australia. Exmouth can be reached with a 2.5 hour flight from Perth. A perfect beach for swimming and snorkeling just meters from Ningaloo Reef. The Turquoise Coast Islands group of nature reserves is a chain of 40 islands distributed over a distance of 150 kilometers.</p>
						</div>
					</div>

		<!-- Footer -->
			{{> footer}}

	</body>
</html>