<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Road Trip by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header  }}

		<!-- Nav -->
			{{> navbar}}

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Work and Holidays</h2>
							<p>01.09.2022</p>
						</header>
						<div class="content">
							<p>
								The Work and Holiday visa Australia is a holiday visa to live in Australia for 12 months. In addition to tourism, it allows you to work in Australia during your entire stay. What you should keep in mind is that you can only work for 6 months with the same employer.
							</p>

						</div>
						<footer>
							<ul class="actions">
								<li><a href="/generic" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="/study" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
		{{> footer}}
	</body>
</html>